:root {
  --bg-panel: #011a23;
  --bg-keyboard: #818384;
  --hint-panel: #d8d8d8;
  --scoreboard-panel: #02141a;
  --border-strong: #1f0471;
  --correct-bg: #4f1868;
  --accent-color: rgb(243, 202, 186);
  --text-primary: #fff;
  --text-secondary: #214a5a;
  --border-subtle: #052737;
  --present-bg: #011219;
  --absent-bg: #474849;
  --link-color: #398abd;
  --shadow: rgba(93, 64, 55, 0.1);
  --scanline-color: rgba(0, 231, 193, 0.01);
  --shape-color-1: #035d3f;
  --shape-color-2: #8d1134;
  --shape-color-3: #004a6a;
  --shape-color-4: #9c5601;
  --shape-color-5: #5000b1;
  --game-word: #6f42f6;
  --button: #0d395b;
  --kudos-bg: #e9d7d7;
}

body {
  background-color: #01222e;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.05) 50%, transparent 50%), linear-gradient(90deg, rgba(255,0,255,.03) 1px, transparent 1px);
}

a {
  color: white;
}

.tile {
  box-shadow: 2px 2px 2px #732b2b;
  border: 3px solid #041c47;
  background-color: #121213;
  color: white;
}

.correct {
  background-color: #538d4e !important;
}

.present {
  background-color: #b59f3b !important;
}

.absent {
  background-color: #3a3a3c !important;
}

.key {
  background-color: #818384;
  color: white;
}

#hintBtn1, #hintBtn2, #hintBtn3, #hintBtn4 {
  background: transparent;
  color: #214a5a;
  border-bottom: 2px solid #81a4c7;
}

#hintTitle::before {
  background-color: #4f1868;
}

#hintTitle:hover::before {
  background-color: #1e0729;
}

#hintButtons button {
  background: rgb(3, 39, 93);
  border: 2px solid rgb(14, 12, 43);
  border-left: 4px solid rgb(14, 12, 43);
  box-shadow: 0 0.2rem rgb(14, 12, 43);
  color: #c7d1d5;
}

#hintBtn1:hover, #hintBtn2:hover, #hintBtn3:hover, #hintBtn4:hover,
#hintBtn1.clicked-hint, #hintBtn2.clicked-hint, #hintBtn3.clicked-hint, #hintBtn4.clicked-hint {
  background-color: #b3c4e0;
  border-bottom: 2px solid #81a4c7;
}

.styled-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
}

#modalCopyBtn, #showStatsBtn, #showScoreboardBtn, #copy-url-btn, #start-playing-btn {
  background-color: #e4e4e4;
  color: rgb(35, 35, 35);
  box-shadow: 0 0.4rem #1d1d1d;
  border: 2px solid #1d1d1d;
}

#modalCopyBtn:hover, #showStatsBtn:hover, #showScoreboardBtn:hover, #copy-url-btn:hover, #start-playing-btn:hover {
  background-color: #e97251;
  color: #e9e9e9;
}

h1 {
  border-bottom: 1px solid rgb(34, 65, 78);
  background-color: rgb(3, 22, 27);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #e1dbd9;
  border-top: 20px solid rgb(206, 86, 17);
  color: rgb(33, 33, 33);
}

#modal-summary {
  color: rgb(33, 33, 33);
}

#secretWordColor {
  color: #cd1616;
}

.word-host-input {
  background: #021a24;
  color: #c7d1d5;
  border: 2px solid rgb(48, 0, 45);
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.host-input {
  background: #021a24;
  color: #c7d1d5;
}

.host-input::placeholder, .word-host-input::placeholder, #funFactInput::placeholder {
  color: #6f8a94;
}

.host-input:not(:placeholder-shown), .word-host-input:not(:placeholder-shown), #funFactInput:not(:placeholder-shown) {
  background: #010f15;
}

.host-input, #funFactInput {
  border: 2px solid var(--border-subtle);
}

#hintInput4Container {
  background: #021a24;
  border: 2px solid var(--border-subtle);
}

#hintInput4Container.darkened {
  background: #010f15;
}

#modal-stats-container {
  background-color: #d8d8d8;
  color: #333;
}

#funFactInput {
  background: #021a24;
  color: #c7d1d5;
}

.fun-fact-section {
  background-color: #d8d8d8;
  color: #333;
  box-shadow: 0 0.4rem #5d849f;
  border: 2px solid #5d849f;
}

.fun-fact-section::-webkit-scrollbar-thumb {
  background-color: #a14612;
}

.fun-fact-section::-webkit-scrollbar-corner {
  background: #4e1919;
}

.help-button {
  background: #07548a;
  color: white;
}

.help-button:hover {
  background-color: #0a73c2;
}

.help-popup {
  background: #e1dbd9;
  color: #212121;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  outline: 2px solid orange;
}

.help-popup:focus {
  outline: 2px solid orange;
}

.close-btn {
  background: transparent;
  color: rgb(185, 71, 5);
}

.language-popup .close-btn {
  color: #707070;
}

.close-btn:hover {
  color: #000;
}

.close-help-btn, .close-hint-btn {
  background: transparent;
  color: #707070;
}

.close-help-btn:hover, .close-hint-btn:hover {
  color: #000;
}

.hint-popup {
  background-color: #d0d9dc;
  border: 2px solid #b3c4e0;
}

#share-message-box {
  background-color: #d8d8d8;
  border: 2px dashed #ccc;
  color: #4b819d;
}

.custom-tooltip::after {
  background-color: #d8d8d8;
  color: #4b819d;
}

td, th {
  border: 1px #ddd;
}

tr:nth-child(even) {
  background-color: #01222e;
}

.side-panel {
  background-color: #021a24;
  color: #fff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

#scoreboard-summary-container {
  border-bottom: 1px solid #444;
}

.stat-label {
  color: #c7d1d5;
}

.stat-bar-container {
  border-right: 3px dotted #384d58;
}

.stat-bar {
  background-color: rgb(92, 17, 17);
  text-shadow: 1px 2px #000000;
  color: #e5e8ea;
}

#word-status-indicator.loading::after {
  border: 3px solid #7f8c8d;
  border-top-color: #ecf0f1;
}

#account-sidebar {
  background-color: #01222e;
  border-left: 2px solid rgb(34, 65, 78);
  box-shadow: -5px 0 15px rgba(0,0,0,0.4);
  color: #c7d1d5;
}

#account-sidebar h2::before {
  background-color: #4f1868;
}

.games-list a {
  color: #81a4c7;
  background-color: transparent;
}

.game-status {
  color: #c7d1d5;
}

.game-list-item {
  background-color: transparent;
}

.game-list-item:hover {
  background-color: #060e12;
}

.game-list-item a {
  color: #edf6ff;
}

.game-item-actions button {
  background: transparent;
  color: #c7d1d5;
}

.game-item-actions button svg {
  color: #1898cb;
}

.game-item-actions button:hover svg {
  stroke: #E57373;
}

.game-item-actions button:hover {
  color: #fff;
}

.stat-value {
  color: #fff;
}

#sidebar-loader {
  color: #81a4c7;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
}

.toast {
  background-color: #f0f0f0;
  color: #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast.error {
  background-color: #c53a3a;
  color: white;
}

#header-setup {
  background-color: #041c27;
  border-bottom: 1px solid #06090a;
}

.header-content-wrapper p, .header-content-wrapper button {
  text-shadow: 2px 2px #000000;
}

#host-credit {
  color: #818384;
}

.badge {
  background-color: #2b1868;
  color: #e5e8ea;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.graph-row {
  color: #b4b4b4;
}

.graph-bar, .zero-count {
  background-color: #054470;
  color: white;
}

.graph-bar.highlight {
  background-color: #538d4e;
}

#giveUpBtn {
  background-color: #5c1111;
  border: 2px solid #434445;
  color: #fff;
}

#giveUpBtn:hover {
  background-color: #c53a3a;
}

#giveUpBtn:disabled {
  background-color: #5c1111;
}

#hintInput4Container p {
  color: #c7d1d5;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
